<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid">
		<h1 th:text="${title}"></h1>
		<span th:text="${product.id} ? 'ID: ' + ${product.id}: ''"></span>
		<form th:action="@{edit/save_product}" th:object="${product}"
			method="post">
			<input type="hidden" th:field="*{id}" /> <input type="hidden"
				th:field="*{createAt}" /> <input type="hidden"
				th:field="*{creator.id}" />

			<div class="form-group row">
				<label class="col-md-2 col-form-label">Description*</label>
				<div class="col-md-6">
					<input type="text" th:field="*{description}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label">Price*</label>
				<div class="col-md-2 money-panel">
					<input type="text" th:field="*{price}"
						class="form-control money-form"
						th:errorclass="'form-control alert-danger'" /><span
						class="symbol">€</span> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
				</div>
				<div class="reduced-price-button">
					<a class="btn btn-info text-light"> <span class="far fa-eye"></span>
						Reduced prices
					</a>
				</div>
			</div>
			<div class="form-group row">
				<div
					class="offset-md-2 col-md-6 border rounded reduced-prices-panel d-none">
					<div class="reduced-prices-titles row text-secondary">
						<b class="col-md-3">Reduced price</b> <b
							class="col-md-5 start-end-title">Star to end dates...</b>
					</div>
					<div class="reduced-items">
						<div class="d-none reduced-price-template reduced-price-item row">
							<div class="col-md-3 money-panel">
								<input type="text" class="form-control money-form" value="" /><span
									class="symbol">€</span>
							</div>
							<div class="col-md-5 start-end-date">
								<input type="text" class="daterange form-control" value="" />
							</div>
							<div class="col-md-4 reduced-price-remove">
								<a class="btn btn-danger text-light">X</a>
							</div>
						</div>
						<div th:each="reducedPrice, iterStat: ${product.reducedPrices}" class="reduced-price-item row">
							<input type="hidden" name="reduced_prices[][id]" th:value="${reducedPrice.id}" />
							
							<div class="col-md-3 money-panel">
								<input type="text" class="form-control money-form" name="reduced_prices[][reducedPrice]" th:value="${reducedPrice.reducedPrice}" /><span
									class="symbol">€</span>
							</div>
							<div class="col-md-6 start-end-date">
								<input type="hidden" name="reduced_prices[][startDate]" class="start-date" th:value="${reducedPrice.startDate}" />
								<input type="hidden" name="reduced_prices[][endDate]" class="end-date" th:value="${reducedPrice.endDate}" />
								<input type="text" class="daterange form-control"/>
							</div>
							<div class="col-md-3 reduced-price-remove">
								<a class="btn btn-danger text-light">X</a>
							</div>
						</div>
					</div>
					<div class="reduced-prices-add row">
						<a class=" col-md-4 btn btn-success text-light form-control">
							Add reduced price</a>
					</div>

				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label">Suppliers...</label>
				<div class="col-md-2 border rounded suppliers-panel">
					<ul>
						<li class="d-none supplier-template"><input type="hidden"
							name="supp[]" value="" /> <span></span> <a
							class="btn btn-danger text-light">X</a></li>
						<li th:each="supplier, iterStat: ${product.suppliers}"><input
							type="hidden" name="supp[]" th:value="${supplier.id}" /> <span
							th:text="${supplier.name}"></span> <a
							class="btn btn-danger text-light">X</a></li>
					</ul>
					<div class="supplier-select-panel">
						<select class="form-control supplier-select">
							<option value="">Choose supplier</option>
							<option th:each="supplier, iterStat: ${supplierList}"
								th:value="${supplier.id}" th:text="${supplier.name}" />
						</select> <a class="btn btn-success text-light form-control disabled">
							Add supplier</a>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label">State</label>
				<div class="col-md-2">
					<select class="form-control" th:field="*{state}">
						<option th:value="active" th:text="active"></option>
						<option th:value="deactive" th:text="deactive"></option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 col-form-label">Comments</label>
				<div class="col-md-6">
					<input type="text" th:field="*{comments}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-6">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>