.col-md-2.money-panel {
	display: flex;
	align-items: center;
}

.table td {
	vertical-align: middle;
}

.product-options-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.symbol {
	margin-left: 0.3em;
	font-weight: 600;
}

.money-form {
	text-align: right;
}

.suppliers-panel {
	margin: 0 15px;
	padding: 0 0.75em;
	max-width: 216px;
}

.suppliers-panel ul {
	margin: 1em 0;
	padding: 0;
}

.suppliers-panel li {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0.25em;
	margin: 0.5em 0;
	background: #e9ecef;
	border-radius: 5px;
}

.suppliers-panel .btn-danger {
	font-size: 0.75em;
	padding: 0.5em;
	line-height: 0.75em;
	cursor: pointer;
}

.supplier-select-panel {
	padding: 0.85em 0;
	border-top: 1px solid #dee2e6;
}

.supplier-select {
	margin-bottom: 0.5em;
}
.supplier-select-panel .btn-success {
	cursor: pointer;
}